In [3]:
import numpy as np 
import pandas as pd

from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import warnings
warnings.simplefilter("ignore")

numpy

In [4]:
PATH = "/home/cuneyt/Desktop/projects/python_projects/Python4Finance/"

l1 = [1, 2 ,3, 4, 5]
npa1 = np.array(l1)
print(npa1, '\n')

npa2 = np.arange(0, 5)
print(npa2, '\n')

npa3 = np.arange(0, 10, 1.5)
print(npa3, '\n')

mat1 = np.ones((4, 3))
print(mat1, '\n')

mat2 = np.zeros((4, 3))
print(mat2, '\n')

mat3 = np.random.randint(0, 10, (4, 3))
print(mat3, '\n')

mat4 = np.random.random((4, 3))
print(mat4, '\n')

[1 2 3 4 5]

[0 1 2 3 4]

[0.  1.5 3.  4.5 6.  7.5 9. ]

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

[[7 1 3]
 [4 8 6]
 [3 7 3]
 [5 9 6]]

[[0.75126468 0.98539841 0.92347426]
 [0.30611874 0.31805575 0.57517593]
 [0.18317872 0.02503202 0.4674483 ]
 [0.59544678 0.76105301 0.87341729]]

In [5]:
mat5 = np.linspace(0, 10, 5)
print(mat5, '\n')

mat6 = np.random.randint(0, 50, 12)
print(mat6, '\n')

mat6 = mat6.reshape(4, 3)
print(mat6, '\n')

mat7 = mat6.reshape(3,4,1)
print(mat7, '\n')

print(mat7[1, 2, 0], '\n')

[ 0.   2.5  5.   7.5 10. ]

[39 48  4 42 25 11 40 37  3 43 27 18]

[[39 48  4]
 [42 25 11]
 [40 37  3]
 [43 27 18]]

[[[39]
  [48]
  [ 4]
  [42]]

 [[25]
  [11]
  [40]
  [37]]

 [[ 3]
  [43]
  [27]
  [18]]]

40

In [6]:
print(mat6 > 20, '\n')

print(mat6[mat6>20], '\n')

mat5 = np.random.randint(0,100,50)
print(mat5, '\n')

print("Mean :", mat5.mean())
print("Standard Deviation :", mat5.std())
print("Variance :", mat5.var())
print("Min :", mat5.min())
print("Max :", mat5.max(), '\n')

np.random.seed(500)
mat9 = np.random.randint(0,50,10)
print(mat9, '\n')

mat10 = np.random.randint(0,50,10)
print(mat10, '\n')

[[ True  True False]
 [ True  True False]
 [ True  True False]
 [ True  True False]]

[39 48 42 25 40 37 43 27]

[40 31 42 80 37 33 49 58 18 87 89 42 54 45 82 97 21 45 11 30 66  8 48 86
 64 74 61 52 61 26 65 72 42 58 91 53 15 41 94 55 48 37 67 68 26  6 53 53
  9 33]

Mean : 50.46
Standard Deviation : 23.651815997931322
Variance : 559.4084
Min : 6
Max : 97

[26  1 17 14 31  8  7 13 45 17]

[17 21 41 34 42 18 19 13 38 40]

pandas

In [7]:
def get_df_from_csv(ticker):
    try:
        df = pd.read_csv(PATH + ticker + '.csv', index_col='Date', 
                         parse_dates=True)
    except FileNotFoundError:
        pass
    else:
        return df

In [8]:
msft_df = get_df_from_csv("MSFT")
msft_df

In [9]:
def get_df_from_excel(file):
    try:
        df = pd.read_excel(file)
    except FileNotFoundError:
        pass
        print("File Doesn't Exist")
    else:
        return df

In [10]:
file = PATH + "prev_datasets/Wilshire-5000-Stocks.xlsx"
w_stocks = get_df_from_excel(file)
w_stocks

     Ticker                        Company
0         A                       Agilent
1        AA                         Alcoa
2       AAL             American Airlines
3      AAME             Atlantic American
4       AAN                       Aaron's
...     ...                            ...
3476   ZUMZ                   Zumiez, Inc.
3477    ZUO                    Zuora, Inc.
3478   ZYNE  Zynerba Pharmaceuticals, Inc.
3479   ZYXI                    Zynex, Inc.
3480   ZNGA                    Zynga, Inc.

[3481 rows x 2 columns]

In [11]:
g_data = pd.read_html("https://en.wikipedia.org/wiki/List_of_current_United_States_governors")
g_data

[                                                    0
 0             This article is part of a series on the
 1              State governments of the United States
 2            State constitution Comparison Statehouse
 3                                           Executive
 4   State executives Governor (List) Other common ...
 5                                         Legislative
 6   State representatives (Alabama to Missouri, Mo...
 7                                           Judiciary
 8                     State supreme court State court
 9                Politics portal United States portal
 10  .mw-parser-output .navbar{display:inline;font-...,
    United States governors  Republican (26)  Democratic (24)        \
                                                        State Image
 0                                             Alabama          NaN
 1                                              Alaska          NaN
 2                                             Arizona          NaN
 3                                            Arkansas          NaN
 4                                          California          NaN
 5                                            Colorado          NaN
 6                                         Connecticut          NaN
 7                                            Delaware          NaN
 8                                             Florida          NaN
 9                                             Georgia          NaN
 10                                             Hawaii          NaN
 11                                              Idaho          NaN
 12                                           Illinois          NaN
 13                                            Indiana          NaN
 14                                               Iowa          NaN
 15                                             Kansas          NaN
 16                                           Kentucky          NaN
 17                                          Louisiana          NaN
 18                                              Maine          NaN
 19                                           Maryland          NaN
 20                                      Massachusetts          NaN
 21                                           Michigan          NaN
 22                                          Minnesota          NaN
 23                                        Mississippi          NaN
 24                                           Missouri          NaN
 25                                            Montana          NaN
 26                                           Nebraska          NaN
 27                                             Nevada          NaN
 28                                      New Hampshire          NaN
 29                                         New Jersey          NaN
 30                                         New Mexico          NaN
 31                                           New York          NaN
 32                                     North Carolina          NaN
 33                                       North Dakota          NaN
 34                                               Ohio          NaN
 35                                           Oklahoma          NaN
 36                                             Oregon          NaN
 37                                       Pennsylvania          NaN
 38                                       Rhode Island          NaN
 39                                     South Carolina          NaN
 40                                       South Dakota          NaN
 41                                          Tennessee          NaN
 42                                              Texas          NaN
 43                                               Utah          NaN
 44                                            Vermont          NaN
 45                                           Virginia          NaN
 46                                         Washington          NaN
 47                                      West Virginia          NaN
 48                                          Wisconsin          NaN
 49                                            Wyoming          NaN

                                                                      \
                   Governor Party                  Party.1      Born
 0                 Kay Ivey   NaN               Republican  (age 78)
 1            Mike Dunleavy   NaN               Republican  (age 61)
 2              Katie Hobbs   NaN               Democratic  (age 53)
 3   Sarah Huckabee Sanders   NaN               Republican  (age 40)
 4             Gavin Newsom   NaN               Democratic  (age 55)
 5              Jared Polis   NaN               Democratic  (age 47)
 6               Ned Lamont   NaN               Democratic  (age 69)
 7              John Carney   NaN               Democratic  (age 66)
 8             Ron DeSantis   NaN               Republican  (age 44)
 9               Brian Kemp   NaN               Republican  (age 59)
 10              Josh Green   NaN               Democratic  (age 53)
 11             Brad Little   NaN               Republican  (age 69)
 12          J. B. Pritzker   NaN               Democratic  (age 58)
 13            Eric Holcomb   NaN               Republican  (age 54)
 14            Kim Reynolds   NaN               Republican  (age 63)
 15             Laura Kelly   NaN               Democratic  (age 73)
 16            Andy Beshear   NaN               Democratic  (age 45)
 17        John Bel Edwards   NaN               Democratic  (age 56)
 18             Janet Mills   NaN               Democratic  (age 75)
 19               Wes Moore   NaN               Democratic  (age 44)
 20            Maura Healey   NaN               Democratic  (age 52)
 21        Gretchen Whitmer   NaN               Democratic  (age 51)
 22                Tim Walz   NaN  Democratic–Farmer–Labor  (age 58)
 23             Tate Reeves   NaN               Republican  (age 48)
 24             Mike Parson   NaN               Republican  (age 67)
 25          Greg Gianforte   NaN               Republican  (age 61)
 26              Jim Pillen   NaN               Republican  (age 67)
 27            Joe Lombardo   NaN               Republican  (age 60)
 28            Chris Sununu   NaN               Republican  (age 48)
 29             Phil Murphy   NaN               Democratic  (age 65)
 30  Michelle Lujan Grisham   NaN               Democratic  (age 63)
 31            Kathy Hochul   NaN               Democratic  (age 64)
 32              Roy Cooper   NaN               Democratic  (age 65)
 33             Doug Burgum   NaN               Republican  (age 66)
 34             Mike DeWine   NaN               Republican  (age 76)
 35             Kevin Stitt   NaN               Republican  (age 50)
 36              Tina Kotek   NaN               Democratic  (age 56)
 37            Josh Shapiro   NaN               Democratic  (age 49)
 38               Dan McKee   NaN               Democratic  (age 71)
 39          Henry McMaster   NaN               Republican  (age 75)
 40             Kristi Noem   NaN               Republican  (age 51)
 41                Bill Lee   NaN               Republican  (age 63)
 42             Greg Abbott   NaN               Republican  (age 65)
 43             Spencer Cox   NaN               Republican  (age 47)
 44              Phil Scott   NaN               Republican  (age 64)
 45          Glenn Youngkin   NaN               Republican  (age 56)
 46              Jay Inslee   NaN               Democratic  (age 72)
 47             Jim Justice   NaN       Republican[note 2]  (age 71)
 48              Tony Evers   NaN               Democratic  (age 71)
 49             Mark Gordon   NaN               Republican  (age 65)

                                                                      \
                               Prior public experience  Inauguration
 0   Lieutenant Governor, State Treasurer, Alabama ...  Apr 10, 2017
 1   Alaska Senate, Matanuska-Susitna Borough Board...   Dec 3, 2018
 2   Secretary of State, Minority Leader of the Ari...   Jan 2, 2023
 3   White House Press Secretary, White House Deput...  Jan 10, 2023
 4   Lieutenant Governor, Mayor of San Francisco, S...   Jan 7, 2019
 5       U.S. House, Colorado State Board of Education   Jan 8, 2019
 6   Chair of the State Investment Advisory Council...   Jan 9, 2019
 7   U.S. House, Lieutenant Governor, State Secreta...  Jan 17, 2017
 8   U.S. House, Lieutenant Commander in the United...   Jan 8, 2019
 9                  Secretary of State, Georgia Senate  Jan 14, 2019
 10   Lieutenant Governor, Hawaii Senate, Hawaii House   Dec 5, 2022
 11                  Lieutenant Governor, Idaho Senate   Jan 7, 2019
 12  Co-Chair of Hillary Clinton 2008 presidential ...  Jan 14, 2019
 13  Lieutenant Governor, Chief of Staff to U.S. Se...   Jan 9, 2017
 14  Lieutenant Governor, Iowa Senate, Clarke Count...  May 24, 2017
 15                                      Kansas Senate  Jan 14, 2019
 16                             State Attorney General  Dec 10, 2019
 17  Minority Leader of the Louisiana House, Captai...  Jan 11, 2016
 18  State Attorney General, Maine House, Androscog...   Jan 2, 2019
 19                  Captain in the United States Army  Jan 18, 2023
 20                                   Attorney General   Jan 5, 2023
 21  Ingham County Prosecuting Attorney, Minority L...   Jan 1, 2019
 22  U.S. House, Command Sergeant Major in the Army...   Jan 7, 2019
 23               Lieutenant Governor, State Treasurer  Jan 14, 2020
 24  Lieutenant Governor, Missouri Senate, Missouri...   Jun 1, 2018
 25                                         U.S. House   Jan 4, 2021
 26            University of Nebraska Board of Regents   Jan 5, 2023
 27  Clark County Sheriff, Clark County Assistant S...   Jan 2, 2023
 28                    New Hampshire Executive Council   Jan 5, 2017
 29  U.S. Ambassador to Germany, Finance Chair of t...  Jan 16, 2018
 30  U.S. House, Bernalillo County Commission, Stat...   Jan 1, 2019
 31  Lieutenant Governor, U.S. House, Erie County C...  Aug 24, 2021
 32  State Attorney General, Majority Leader of the...   Jan 1, 2017
 33                         No prior public experience  Dec 15, 2016
 34  State Attorney General, U.S. Senate, Lieutenan...  Jan 14, 2019
 35                         No prior public experience  Jan 14, 2019
 36                        Speaker of the Oregon House   Jan 9, 2023
 37  State Attorney General, Montgomery County Boar...  Jan 17, 2023
 38  Lieutenant Governor, Mayor of Cumberland, Cumb...   Mar 2, 2021
 39  Lieutenant Governor, Board of South Carolina P...  Jan 24, 2017
 40                     U.S. House, South Dakota House   Jan 5, 2019
 41                         No prior public experience  Jan 19, 2019
 42  State Attorney General, Associate Justice of t...  Jan 20, 2015
 43  Lieutenant Governor, Utah House, Sanpete Count...   Jan 4, 2021
 44                Lieutenant Governor, Vermont Senate   Jan 5, 2017
 45                         No prior public experience  Jan 15, 2022
 46                       U.S. House, Washington House  Jan 16, 2013
 47                         No prior public experience  Jan 16, 2017
 48         State Superintendent of Public Instruction   Jan 7, 2019
 49                                    State Treasurer   Jan 7, 2019


            End of term Past governors Unnamed: 10_level_1
 0   2027 (term limits)           List                 NaN
 1   2026 (term limits)           List                 NaN
 2                 2027           List                 NaN
 3                 2027           List                 NaN
 4   2027 (term limits)           List                 NaN
 5   2027 (term limits)           List                 NaN
 6                 2027           List                 NaN
 7   2025 (term limits)           List                 NaN
 8   2027 (term limits)           List                 NaN
 9   2027 (term limits)           List                 NaN
 10                2026           List                 NaN
 11                2027           List                 NaN
 12                2027           List                 NaN
 13  2025 (term limits)           List                 NaN
 14                2027           List                 NaN
 15  2027 (term limits)           List                 NaN
 16                2023           List                 NaN
 17  2024 (term limits)           List                 NaN
 18  2027 (term limits)           List                 NaN
 19                2027           List                 NaN
 20                2027           List                 NaN
 21  2027 (term limits)           List                 NaN
 22                2027           List                 NaN
 23                2024           List                 NaN
 24  2025 (term limits)           List                 NaN
 25                2025           List                 NaN
 26                2027           List                 NaN
 27                2027           List                 NaN
 28                2025           List                 NaN
 29  2026 (term limits)           List                 NaN
 30  2027 (term limits)           List                 NaN
 31        2026[note 1]           List                 NaN
 32  2025 (term limits)           List                 NaN
 33                2024           List                 NaN
 34  2027 (term limits)           List                 NaN
 35  2027 (term limits)           List                 NaN
 36                2027           List                 NaN
 37                2027           List                 NaN
 38                2027           List                 NaN
 39  2027 (term limits)           List                 NaN
 40  2027 (term limits)           List                 NaN
 41  2027 (term limits)           List                 NaN
 42                2027           List                 NaN
 43                2025           List                 NaN
 44                2025           List                 NaN
 45  2026 (term limits)           List                 NaN
 46                2025           List                 NaN
 47  2025 (term limits)           List                 NaN
 48                2027           List                 NaN
 49  2027 (term limits)           List                 NaN  ,
   Territory governors  Democratic (4) Independent (1)        \
                                             Territory Image
 0                                     American Samoa    NaN
 1                                               Guam    NaN
 2                           Northern Mariana Islands    NaN
 3                                        Puerto Rico    NaN
 4                                U.S. Virgin Islands    NaN

                                                                            \
               Governor Party                            Party.1      Born
 0  Lemanu Peleti Mauga   NaN                 Democratic[note 3]  (age 63)
 1    Lou Leon Guerrero   NaN                         Democratic  (age 72)
 2      Arnold Palacios   NaN                        Independent  (age 67)
 3      Pedro Pierluisi   NaN  DemocraticNew Progressive[note 4]  (age 63)
 4         Albert Bryan   NaN                         Democratic  (age 55)

                                                                    \
                              Prior public experience Inauguration
 0  Lieutenant Governor, American Samoa Senate, Ma...  Jan 3, 2021
 1                                   Guam Legislature  Jan 7, 2019
 2  Lieutenant Governor, President of the CNMI Sen...  Jan 9, 2023
 3       U.S. House, Territorial Secretary of Justice  Jan 2, 2021
 4                 Virgin Islands Department of Labor  Jan 7, 2019


           End of term Past governors
 0                2025           List
 1  2027 (term limits)           List
 2                2027           List
 3                2025           List
 4  2027 (term limits)           List  ,
   Federal district mayor  Democratic (1)                             \
                         Federal district Image          Mayor Party
 0                   District of Columbia   NaN  Muriel Bowser   NaN

                                                                          \
       Party.1      Born                         Prior public experience
 0  Democratic  (age 50)  D.C. Council, Advisory Neighborhood Commission


   Inauguration End of term Past mayors
 0  Jan 2, 2015        2027        List  ,
   vteGovernors and executives of U.S. states and territories  \
 0     President of the United States: ▌Joe Biden (D)
 1  AL ▌Ivey (R) AK ▌Dunleavy (R) AZ ▌Hobbs (D) AR...
 2  ▌Republican: 26 (26 states) ▌Democratic: 29 (2...

   vteGovernors and executives of U.S. states and territories.1
 0     President of the United States: ▌Joe Biden (D)
 1  AL ▌Ivey (R) AK ▌Dunleavy (R) AZ ▌Hobbs (D) AR...
 2  ▌Republican: 26 (26 states) ▌Democratic: 29 (2...            ,
   vteChief executives of the United States  \
 0                                  Federal
 1            State governors(current list)
 2                Territorial(current list)
 3                                  Defunct

           vteChief executives of the United States.1
 0                President of the United States list
 1  Alabama Alaska Arizona Arkansas California lis...
 2  American Samoa District of Columbia list Guam ...
 3  Cuba Dakota Territory Panama Canal Zone Philip...  ,
             vteUnited States gubernatorial elections  \
 0                          List of current governors
 1  1800 1801 1802 1803 1804 1805 1806 1807 1808 1...
 2  House elections Senate elections Presidential ...

           vteUnited States gubernatorial elections.1
 0                          List of current governors
 1  1800 1801 1802 1803 1804 1805 1806 1807 1808 1...
 2  House elections Senate elections Presidential ...  ,
                  vteUnited States state-related lists  \
 0   List of states and territories of the United S...
 1                                        Demographics
 2                                             Economy
 3                                         Environment
 4                                           Geography
 5                                          Government
 6                                              Health
 7                                             History
 8                                                 Law
 9                                       Miscellaneous
 10                         Category  Commons  Portals

                vteUnited States state-related lists.1
 0   List of states and territories of the United S...
 1   Population African American Amish Asian Birth ...
 2   Billionaires Budgets Companies Credit ratings ...
 3   Botanical gardens Carbon dioxide emissions Par...
 4   Area Bays Beaches Coastline Elevation Extreme ...
 5   Agriculture commissioners Attorneys general Ca...
 6   Fertility rates Hospitals Human Development In...
 7   Date of statehood Name etymologies Historical ...
 8   Abortion Age of consent Alcohol Dry communitie...
 9   Abbreviations Airports Bus transit systems Cas...
 10                         Category  Commons  Portals  ]

In [12]:
g_data = pd.read_html("https://en.wikipedia.org/wiki/List_of_current_United_States_governors")[1]
g_data

   United States governors  Republican (26)  Democratic (24)        \
                                                       State Image
0                                             Alabama          NaN
1                                              Alaska          NaN
2                                             Arizona          NaN
3                                            Arkansas          NaN
4                                          California          NaN
5                                            Colorado          NaN
6                                         Connecticut          NaN
7                                            Delaware          NaN
8                                             Florida          NaN
9                                             Georgia          NaN
10                                             Hawaii          NaN
11                                              Idaho          NaN
12                                           Illinois          NaN
13                                            Indiana          NaN
14                                               Iowa          NaN
15                                             Kansas          NaN
16                                           Kentucky          NaN
17                                          Louisiana          NaN
18                                              Maine          NaN
19                                           Maryland          NaN
20                                      Massachusetts          NaN
21                                           Michigan          NaN
22                                          Minnesota          NaN
23                                        Mississippi          NaN
24                                           Missouri          NaN
25                                            Montana          NaN
26                                           Nebraska          NaN
27                                             Nevada          NaN
28                                      New Hampshire          NaN
29                                         New Jersey          NaN
30                                         New Mexico          NaN
31                                           New York          NaN
32                                     North Carolina          NaN
33                                       North Dakota          NaN
34                                               Ohio          NaN
35                                           Oklahoma          NaN
36                                             Oregon          NaN
37                                       Pennsylvania          NaN
38                                       Rhode Island          NaN
39                                     South Carolina          NaN
40                                       South Dakota          NaN
41                                          Tennessee          NaN
42                                              Texas          NaN
43                                               Utah          NaN
44                                            Vermont          NaN
45                                           Virginia          NaN
46                                         Washington          NaN
47                                      West Virginia          NaN
48                                          Wisconsin          NaN
49                                            Wyoming          NaN

                                                                     \
                  Governor Party                  Party.1      Born
0                 Kay Ivey   NaN               Republican  (age 78)
1            Mike Dunleavy   NaN               Republican  (age 61)
2              Katie Hobbs   NaN               Democratic  (age 53)
3   Sarah Huckabee Sanders   NaN               Republican  (age 40)
4             Gavin Newsom   NaN               Democratic  (age 55)
5              Jared Polis   NaN               Democratic  (age 47)
6               Ned Lamont   NaN               Democratic  (age 69)
7              John Carney   NaN               Democratic  (age 66)
8             Ron DeSantis   NaN               Republican  (age 44)
9               Brian Kemp   NaN               Republican  (age 59)
10              Josh Green   NaN               Democratic  (age 53)
11             Brad Little   NaN               Republican  (age 69)
12          J. B. Pritzker   NaN               Democratic  (age 58)
13            Eric Holcomb   NaN               Republican  (age 54)
14            Kim Reynolds   NaN               Republican  (age 63)
15             Laura Kelly   NaN               Democratic  (age 73)
16            Andy Beshear   NaN               Democratic  (age 45)
17        John Bel Edwards   NaN               Democratic  (age 56)
18             Janet Mills   NaN               Democratic  (age 75)
19               Wes Moore   NaN               Democratic  (age 44)
20            Maura Healey   NaN               Democratic  (age 52)
21        Gretchen Whitmer   NaN               Democratic  (age 51)
22                Tim Walz   NaN  Democratic–Farmer–Labor  (age 58)
23             Tate Reeves   NaN               Republican  (age 48)
24             Mike Parson   NaN               Republican  (age 67)
25          Greg Gianforte   NaN               Republican  (age 61)
26              Jim Pillen   NaN               Republican  (age 67)
27            Joe Lombardo   NaN               Republican  (age 60)
28            Chris Sununu   NaN               Republican  (age 48)
29             Phil Murphy   NaN               Democratic  (age 65)
30  Michelle Lujan Grisham   NaN               Democratic  (age 63)
31            Kathy Hochul   NaN               Democratic  (age 64)
32              Roy Cooper   NaN               Democratic  (age 65)
33             Doug Burgum   NaN               Republican  (age 66)
34             Mike DeWine   NaN               Republican  (age 76)
35             Kevin Stitt   NaN               Republican  (age 50)
36              Tina Kotek   NaN               Democratic  (age 56)
37            Josh Shapiro   NaN               Democratic  (age 49)
38               Dan McKee   NaN               Democratic  (age 71)
39          Henry McMaster   NaN               Republican  (age 75)
40             Kristi Noem   NaN               Republican  (age 51)
41                Bill Lee   NaN               Republican  (age 63)
42             Greg Abbott   NaN               Republican  (age 65)
43             Spencer Cox   NaN               Republican  (age 47)
44              Phil Scott   NaN               Republican  (age 64)
45          Glenn Youngkin   NaN               Republican  (age 56)
46              Jay Inslee   NaN               Democratic  (age 72)
47             Jim Justice   NaN       Republican[note 2]  (age 71)
48              Tony Evers   NaN               Democratic  (age 71)
49             Mark Gordon   NaN               Republican  (age 65)

                                                                     \
                              Prior public experience  Inauguration
0   Lieutenant Governor, State Treasurer, Alabama ...  Apr 10, 2017
1   Alaska Senate, Matanuska-Susitna Borough Board...   Dec 3, 2018
2   Secretary of State, Minority Leader of the Ari...   Jan 2, 2023
3   White House Press Secretary, White House Deput...  Jan 10, 2023
4   Lieutenant Governor, Mayor of San Francisco, S...   Jan 7, 2019
5       U.S. House, Colorado State Board of Education   Jan 8, 2019
6   Chair of the State Investment Advisory Council...   Jan 9, 2019
7   U.S. House, Lieutenant Governor, State Secreta...  Jan 17, 2017
8   U.S. House, Lieutenant Commander in the United...   Jan 8, 2019
9                  Secretary of State, Georgia Senate  Jan 14, 2019
10   Lieutenant Governor, Hawaii Senate, Hawaii House   Dec 5, 2022
11                  Lieutenant Governor, Idaho Senate   Jan 7, 2019
12  Co-Chair of Hillary Clinton 2008 presidential ...  Jan 14, 2019
13  Lieutenant Governor, Chief of Staff to U.S. Se...   Jan 9, 2017
14  Lieutenant Governor, Iowa Senate, Clarke Count...  May 24, 2017
15                                      Kansas Senate  Jan 14, 2019
16                             State Attorney General  Dec 10, 2019
17  Minority Leader of the Louisiana House, Captai...  Jan 11, 2016
18  State Attorney General, Maine House, Androscog...   Jan 2, 2019
19                  Captain in the United States Army  Jan 18, 2023
20                                   Attorney General   Jan 5, 2023
21  Ingham County Prosecuting Attorney, Minority L...   Jan 1, 2019
22  U.S. House, Command Sergeant Major in the Army...   Jan 7, 2019
23               Lieutenant Governor, State Treasurer  Jan 14, 2020
24  Lieutenant Governor, Missouri Senate, Missouri...   Jun 1, 2018
25                                         U.S. House   Jan 4, 2021
26            University of Nebraska Board of Regents   Jan 5, 2023
27  Clark County Sheriff, Clark County Assistant S...   Jan 2, 2023
28                    New Hampshire Executive Council   Jan 5, 2017
29  U.S. Ambassador to Germany, Finance Chair of t...  Jan 16, 2018
30  U.S. House, Bernalillo County Commission, Stat...   Jan 1, 2019
31  Lieutenant Governor, U.S. House, Erie County C...  Aug 24, 2021
32  State Attorney General, Majority Leader of the...   Jan 1, 2017
33                         No prior public experience  Dec 15, 2016
34  State Attorney General, U.S. Senate, Lieutenan...  Jan 14, 2019
35                         No prior public experience  Jan 14, 2019
36                        Speaker of the Oregon House   Jan 9, 2023
37  State Attorney General, Montgomery County Boar...  Jan 17, 2023
38  Lieutenant Governor, Mayor of Cumberland, Cumb...   Mar 2, 2021
39  Lieutenant Governor, Board of South Carolina P...  Jan 24, 2017
40                     U.S. House, South Dakota House   Jan 5, 2019
41                         No prior public experience  Jan 19, 2019
42  State Attorney General, Associate Justice of t...  Jan 20, 2015
43  Lieutenant Governor, Utah House, Sanpete Count...   Jan 4, 2021
44                Lieutenant Governor, Vermont Senate   Jan 5, 2017
45                         No prior public experience  Jan 15, 2022
46                       U.S. House, Washington House  Jan 16, 2013
47                         No prior public experience  Jan 16, 2017
48         State Superintendent of Public Instruction   Jan 7, 2019
49                                    State Treasurer   Jan 7, 2019


           End of term Past governors Unnamed: 10_level_1
0   2027 (term limits)           List                 NaN
1   2026 (term limits)           List                 NaN
2                 2027           List                 NaN
3                 2027           List                 NaN
4   2027 (term limits)           List                 NaN
5   2027 (term limits)           List                 NaN
6                 2027           List                 NaN
7   2025 (term limits)           List                 NaN
8   2027 (term limits)           List                 NaN
9   2027 (term limits)           List                 NaN
10                2026           List                 NaN
11                2027           List                 NaN
12                2027           List                 NaN
13  2025 (term limits)           List                 NaN
14                2027           List                 NaN
15  2027 (term limits)           List                 NaN
16                2023           List                 NaN
17  2024 (term limits)           List                 NaN
18  2027 (term limits)           List                 NaN
19                2027           List                 NaN
20                2027           List                 NaN
21  2027 (term limits)           List                 NaN
22                2027           List                 NaN
23                2024           List                 NaN
24  2025 (term limits)           List                 NaN
25                2025           List                 NaN
26                2027           List                 NaN
27                2027           List                 NaN
28                2025           List                 NaN
29  2026 (term limits)           List                 NaN
30  2027 (term limits)           List                 NaN
31        2026[note 1]           List                 NaN
32  2025 (term limits)           List                 NaN
33                2024           List                 NaN
34  2027 (term limits)           List                 NaN
35  2027 (term limits)           List                 NaN
36                2027           List                 NaN
37                2027           List                 NaN
38                2027           List                 NaN
39  2027 (term limits)           List                 NaN
40  2027 (term limits)           List                 NaN
41  2027 (term limits)           List                 NaN
42                2027           List                 NaN
43                2025           List                 NaN
44                2025           List                 NaN
45  2026 (term limits)           List                 NaN
46                2025           List                 NaN
47  2025 (term limits)           List                 NaN
48                2027           List                 NaN
49  2027 (term limits)           List                 NaN

In [13]:
d_data = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_the_United_States", 
                      match="Average population")[0]
d_data

,Unnamed: 0,Average population[76][30][31],Live births[77],Deaths,Natural change,"Crude birth rate (per 1,000)","Crude death rate (per 1,000)[78]","Natural change (per 1,000)",Total fertility rate[fn 1][79]
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [14]:
d_data.columns = [x.replace(' ', '_') for x in d_data.columns]
d_data

,Unnamed:_0,Average_population[76][30][31],Live_births[77],Deaths,Natural_change,"Crude_birth_rate_(per_1,000)","Crude_death_rate_(per_1,000)[78]","Natural_change_(per_1,000)",Total_fertility_rate[fn_1][79]
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [15]:
d_data.columns = d_data.columns.str.replace(r"\(.*\)","")
d_data.columns = d_data.columns.str.replace(r"\[.*\]","")
d_data

,Unnamed:_0,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [16]:
d_data = d_data.rename(columns={'Unnamed:_0': 'Year'})
d_data

,Year,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017[80][81],325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018[82][83],326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020[84][85],331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021[86][87][88][89][90],331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [17]:
d_data.Year = d_data.Year.str.replace(r"\[.*\]","")
d_data

,Year,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
0,1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1,1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
2,1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
3,1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
4,1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...,...
82,2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
83,2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
84,2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
85,2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
86,2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [18]:
d_data.Live_births

0     2377000
1     2355000
2     2413000
3     2496000
4     2466000
       ...
82    3855500
83    3791712
84    3747540
85    3613647
86    3664292
Name: Live_births, Length: 87, dtype: int64

In [19]:
d_data['Deaths']

0     1392752
1     1479228
2     1450427
3     1381391
4     1387897
       ...
82    2813503
83    2839205
84    2854858
85    3383729
86    3464231
Name: Deaths, Length: 87, dtype: int64

In [20]:
d_data.set_index('Year', inplace=True)
d_data

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
Year,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [21]:
d_data[["Live_births", "Deaths"]]

      Live_births   Deaths
Year
1935      2377000  1392752
1936      2355000  1479228
1937      2413000  1450427
1938      2496000  1381391
1939      2466000  1387897
...           ...      ...
2017      3855500  2813503
2018      3791712  2839205
2019      3747540  2854858
2020      3613647  3383729
2021      3664292  3464231

[87 rows x 2 columns]

In [22]:
d_data.loc['2020']

Average_population      3.315011e+08
Live_births             3.613647e+06
Deaths                  3.383729e+06
Natural_change          2.299180e+05
Crude_birth_rate_       1.090000e+01
Crude_death_rate_       1.020000e+01
Natural_change_         7.000000e-01
Total_fertility_rate    1.641000e+00
Name: 2020, dtype: float64

In [23]:
d_data.iloc[85]

Average_population      3.315011e+08
Live_births             3.613647e+06
Deaths                  3.383729e+06
Natural_change          2.299180e+05
Crude_birth_rate_       1.090000e+01
Crude_death_rate_       1.020000e+01
Natural_change_         7.000000e-01
Total_fertility_rate    1.641000e+00
Name: 2020, dtype: float64

In [24]:
d_data['Pop_Growth'] = d_data["Live_births"] - d_data["Deaths"]
d_data

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate,Pop_Growth
Year,,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190,984248
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150,875772
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170,962573
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220,1114609
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170,1078103
...,...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765,1041997
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729,952507
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706,892682
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641,229918
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664,200061

In [25]:
d_data.drop('Pop_Growth', axis=1, inplace=True)
d_data

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
Year,,,,,,,,
1935,127250000,2377000,1392752,984248,18.7,10.9,7.7,2.190
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [26]:
d_data.drop('1935', axis=0, inplace=True)
d_data

,Average_population,Live_births,Deaths,Natural_change,Crude_birth_rate_,Crude_death_rate_,Natural_change_,Total_fertility_rate
Year,,,,,,,,
1936,128053000,2355000,1479228,875772,18.4,11.5,6.8,2.150
1937,128825000,2413000,1450427,962573,18.7,11.2,7.5,2.170
1938,129825000,2496000,1381391,1114609,19.2,10.6,8.6,2.220
1939,130880000,2466000,1387897,1078103,18.8,10.6,8.2,2.170
1940,131930000,2559000,1417269,1142000,19.4,10.8,8.7,2.301
...,...,...,...,...,...,...,...,...
2017,325122128,3855500,2813503,1041997,11.8,8.7,3.1,1.765
2018,326838199,3791712,2839205,952507,11.6,8.7,2.9,1.729
2019,328329953,3747540,2854858,892682,11.4,8.7,2.7,1.706
2020,331501080,3613647,3383729,229918,10.9,10.2,0.7,1.641
2021,331893745,3664292,3464231,200061,11.0,10.5,0.5,1.664

In [27]:
c_data = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)")[2]
c_data

    Country/Territory UN Region IMF[1][13]            World Bank[14]  \
    Country/Territory UN Region   Estimate       Year       Estimate
0               World         —  101560901       2022       96513077
1       United States  Americas   25035164       2022       22996100
2               China      Asia   18321197  [n 1]2022       17734063
3               Japan      Asia    4300621       2022        4937422
4             Germany    Europe    4031149       2022        4223116
..                ...       ...        ...        ...            ...
212             Palau   Oceania        226       2022            218
213          Kiribati   Oceania        207       2022            207
214             Nauru   Oceania        134       2022            133
215        Montserrat  Americas          —          —              —
216            Tuvalu   Oceania         64       2022             63

               United Nations[15]
          Year           Estimate       Year
0         2021           85328323       2020
1         2021           20893746       2020
2    [n 3]2021           14722801  [n 1]2020
3         2021            5057759       2020
4         2021            3846414       2020
..         ...                ...        ...
212       2021                264       2020
213       2021                181       2020
214       2021                135       2020
215          —                 68       2020
216       2021                 55       2020

[217 rows x 8 columns]

In [28]:
for col in c_data.columns:
    print(col)

('Country/Territory', 'Country/Territory')
('UN Region', 'UN Region')
('IMF[1][13]', 'Estimate')
('IMF[1][13]', 'Year')
('World Bank[14]', 'Estimate')
('World Bank[14]', 'Year')
('United Nations[15]', 'Estimate')
('United Nations[15]', 'Year')

In [29]:
c_data.columns = c_data.columns.droplevel()
c_data

,Country/Territory,UN Region,Estimate,Year,Estimate,Year,Estimate,Year
0,World,—,101560901,2022,96513077,2021,85328323,2020
1,United States,Americas,25035164,2022,22996100,2021,20893746,2020
2,China,Asia,18321197,[n 1]2022,17734063,[n 3]2021,14722801,[n 1]2020
3,Japan,Asia,4300621,2022,4937422,2021,5057759,2020
4,Germany,Europe,4031149,2022,4223116,2021,3846414,2020
...,...,...,...,...,...,...,...,...
212,Palau,Oceania,226,2022,218,2021,264,2020
213,Kiribati,Oceania,207,2022,207,2021,181,2020
214,Nauru,Oceania,134,2022,133,2021,135,2020
215,Montserrat,Americas,—,—,—,—,68,2020
216,Tuvalu,Oceania,64,2022,63,2021,55,2020

In [30]:
c_data = c_data.loc[:,~c_data.columns.duplicated()]
c_data

    Country/Territory UN Region   Estimate       Year
0               World         —  101560901       2022
1       United States  Americas   25035164       2022
2               China      Asia   18321197  [n 1]2022
3               Japan      Asia    4300621       2022
4             Germany    Europe    4031149       2022
..                ...       ...        ...        ...
212             Palau   Oceania        226       2022
213          Kiribati   Oceania        207       2022
214             Nauru   Oceania        134       2022
215        Montserrat  Americas          —          —
216            Tuvalu   Oceania         64       2022

[217 rows x 4 columns]

In [31]:
c_data = c_data[c_data['Estimate'].notna()]
c_data

    Country/Territory UN Region   Estimate       Year
0               World         —  101560901       2022
1       United States  Americas   25035164       2022
2               China      Asia   18321197  [n 1]2022
3               Japan      Asia    4300621       2022
4             Germany    Europe    4031149       2022
..                ...       ...        ...        ...
212             Palau   Oceania        226       2022
213          Kiribati   Oceania        207       2022
214             Nauru   Oceania        134       2022
215        Montserrat  Americas          —          —
216            Tuvalu   Oceania         64       2022

[217 rows x 4 columns]

In [32]:
c_data.Year = c_data.Year.str.replace(r"\[.*\]","")
c_data

    Country/Territory UN Region   Estimate  Year
0               World         —  101560901  2022
1       United States  Americas   25035164  2022
2               China      Asia   18321197  2022
3               Japan      Asia    4300621  2022
4             Germany    Europe    4031149  2022
..                ...       ...        ...   ...
212             Palau   Oceania        226  2022
213          Kiribati   Oceania        207  2022
214             Nauru   Oceania        134  2022
215        Montserrat  Americas          —     —
216            Tuvalu   Oceania         64  2022

[217 rows x 4 columns]

In [33]:
c_data.rename(columns={"Country/Territory": "Country", "Estimate": "GDP"}, inplace=True)
c_data

           Country UN Region        GDP  Year
0            World         —  101560901  2022
1    United States  Americas   25035164  2022
2            China      Asia   18321197  2022
3            Japan      Asia    4300621  2022
4          Germany    Europe    4031149  2022
..             ...       ...        ...   ...
212          Palau   Oceania        226  2022
213       Kiribati   Oceania        207  2022
214          Nauru   Oceania        134  2022
215     Montserrat  Americas          —     —
216         Tuvalu   Oceania         64  2022

[217 rows x 4 columns]

In [34]:
c_data.Country = c_data.Country.str.replace("*","")
c_data

           Country UN Region        GDP  Year
0            World         —  101560901  2022
1    United States  Americas   25035164  2022
2            China      Asia   18321197  2022
3            Japan      Asia    4300621  2022
4          Germany    Europe    4031149  2022
..             ...       ...        ...   ...
212          Palau   Oceania        226  2022
213       Kiribati   Oceania        207  2022
214          Nauru   Oceania        134  2022
215     Montserrat  Americas          —     —
216         Tuvalu   Oceania         64  2022

[217 rows x 4 columns]

In [35]:
c_data.groupby("UN Region").mean()

Empty DataFrame
Columns: []
Index: [Africa, Americas, Asia, Europe, Oceania, —]

In [36]:
c_data.groupby("UN Region").median()

Empty DataFrame
Columns: []
Index: [Africa, Americas, Asia, Europe, Oceania, —]

In [37]:
dict1 = {'Store': [1,2,1,2], 'Flavor': ['Choc', 'Van', 'Straw', 'Choc'], 
         'Sales': [26, 12, 18, 22]}

ic_data = pd.DataFrame(dict1)


by_store = ic_data.groupby('Store')
by_store.mean()

       Sales
Store
1       22.0
2       17.0

In [38]:
by_store.sum().loc[1]

Sales    44
Name: 1, dtype: int64

In [39]:
by_store.describe()

      Sales
      count  mean       std   min   25%   50%   75%   max
Store
1       2.0  22.0  5.656854  18.0  20.0  22.0  24.0  26.0
2       2.0  17.0  7.071068  12.0  14.5  17.0  19.5  22.0

plotly

In [40]:
import cufflinks as cf
import plotly.express as px
import plotly.graph_objects as go

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

cf.go_offline()

In [44]:
df_stocks = px.data.stocks()

px.line(df_stocks, x='date', y=['GOOG','AAPL'], labels={'x':'Date', 
                                                        'y':'Value of Dollar'},
                                                        title='Apple Vs. Google')